<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <if condition='property("CONSOLE_LOGGING").contains("ON")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>%date{yyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} ${PROJECT:-debug}%replace(%msg){'[\r\n]+', ' '}%n</pattern>
                </encoder>
            </appender>
        </then>
    </if>

    <if condition='property("FILE_LOGGING").contains("ON")'>
        <then>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <filter class="ch.qos.logback.classic.filter.LevelFilter">
                    <level>DEBUG</level>
                    <onMatch>ACCEPT</onMatch>
                    <onMismatch>DENY</onMismatch>
                </filter>
                <encoder>
                    <pattern>%date{yyy-MM-dd'T'HH:mm:ss.SSSXXX, UTC} ${CI_PROJECT_NAME:-debug}%replace(%msg){'[\r\n]+', ' '}%n</pattern>
                </encoder>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <fileNamePattern>/home/gatling/vector_logs/${CI_PROJECT_NAME}/gatling-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
                    <maxHistory>5</maxHistory>
                    <totalSizeCap>${TOTAL_SIZE_CAP}</totalSizeCap>
                </rollingPolicy>
            </appender>

            <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
                <appender-ref ref="FILE"/>
            </appender>
        </then>
    </if>

    <logger name="io.gatling.http.engine.response.DefaultStatsProcessor" level="DEBUG"/>

    <root level="${ROOT_LOGGING_LEVEL:-ERROR}">
        <if condition='property("CONSOLE_LOGGING").contains("ON")'>
            <then>
                <appender-ref ref="CONSOLE"/>
            </then>
        </if>
        <if condition='property("FILE_LOGGING").contains("ON")'>
            <then>
                <appender-ref ref="ASYNC_FILE"/>
            </then>
        </if>
    </root>

</configuration>
